<ng-container class="container mx-auto px-4 py-8">
  <div class="w-full max-w-md mx-auto">
    <h2 class="text-2xl font-bold mb-8">Sign In</h2>
    <form class="bg-white shadow rounded p-6 space-y-4" (ngSubmit)="login()">
      <ng-container *ngIf="authService.errors()['errors'] as err">
        <ul class="bg-red-100 border border-red-400 text-red-700 px-6 py-3 rounded list-disc mt-4 ml-2">
            <!-- <li class="font-bold mb-2">Error!</li> -->
            <li *ngFor="let item of err" class="ml-4">{{item}}</li>
        </ul>
    </ng-container>
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
        <input type="email" id="email" name="email" [(ngModel)]="user.email"
          class="mt-1 block w-full border border-gray-300 rounded px-3 py-2 text-sm">
      </div>
      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="user.password"
          class="mt-1 block w-full border border-gray-300 rounded px-3 py-2 text-sm" autocomplete="off">
      </div>
      <button type="submit" class="w-full bg-green-500 text-white font-semibold py-2 rounded hover:bg-green-600">Sign
        In</button>
    </form>
    <p class="text-center mt-4">
      Don't have an account? <a routerLink="/signup" class="text-green-500 hover:text-green-600">Sign Up</a>
    </p>
  </div>
</ng-container>