<section class="grid grid-cols-1 md:grid-cols-4 gap-8">
  <ng-container *ngIf="isLoading(); else articlesRef">
    Loading...
  </ng-container>
  <ng-template #articlesRef>
    <div class="md:col-span-3">
      <div class="mb-6">
        <div id="your-feed" class="flex flex-wrap justify-between items-center w-full">
          <!-- Your Feed article cards go here -->
          <app-articles [article]="articles" />
        </div>
        <!-- <div id="global-articles" class="article-list hidden">
         
        </div> -->
      </div>
    </div>
    <app-tags [tags]="tags" />
  </ng-template>
</section>